<div *ngIf="!isQuizCompleted; else quizResultsTemplate">
    <ng-container *ngTemplateOutlet="quiz"></ng-container>
</div>

<ng-template #quizResultsTemplate>
    <ng-container *ngTemplateOutlet="quizResults"></ng-container>
</ng-template>





<ng-template #quiz>
    <div class="flex justify-content-end gap-2 py-1">
        <!-- <p-button *ngIf="!isEditMode" (click)="batchData()" label="Batch Questions" severity="warning"></p-button> -->
        <p-button *ngIf="!isEditMode"(click)="editMode()" label="Edit Mode" severity="help"></p-button>
        <p-button *ngIf="isEditMode" (click)="cancelEditMode()" label="Cancel"></p-button>
        <p-button *ngIf="isEditMode" (click)="saveEditedData()" label="Save Question" severity="success"></p-button>
    </div>
    <div class="flex flex-column justify-content-center p-2 card">
        <div class="question mb-1">
            <p *ngIf="!isEditMode">{{ currentQuestion.content }}</p>
            <textarea *ngIf="isEditMode" rows="10" cols="54" pInputTextarea [autoResize]="true" [(ngModel)]="currentQuestion.content"></textarea>
        </div>
        <div class="flex justify-content-start my-1 mt-1" *ngFor="let answer of currentQuestion.answers; index as i;">
            <input [id]="i" class="mr-2" name="answer" type="radio" (click)="markAnswerAsChecked(answer)" [checked]="answer.isSelected ?? false" [value]="answer.content"/>
            <label [for]="i">{{ answer.content }} </label>
        </div>
    </div>
    <div class="flex flex-column justify-content-center">
        <div class="flex gap-2 mt-2" [ngClass]="!isFirstQuestion ? 'justify-content-between' : 'justify-content-end' ">
            <button *ngIf="!isFirstQuestion" class="button-default font-size-14 w-30" (click)="previousQuestionProceed()">Previous Question</button>
            <button *ngIf="!isLastQuestion" class="button-default font-size-14 w-30" (click)="nextQuestionProceed()">Next Question</button>
            <button *ngIf="isLastQuestion" class="button-success font-size-14 w-30" (click)="completeQuiz()">Finish Test</button>
        </div>
    </div>
</ng-template>

<ng-template #quizResults>
    <p>Correct Answers: {{ correctAnswers }} / {{ questions.length }} ({{ percentCorrectAnswers }}%)</p>
    <div *ngFor="let question of questions" class="question mb-1">
        <div class="flex flex-column justify-content-center p-2 card my-4">
            <p>{{ question.content }}</p>
            <div class="flex justify-content-start my-1 mt-1" *ngFor="let answer of question.answers; index as i;">
                <label [ngClass]="[
                    answer.isCorrect ? 'correct-answer' : 'standard-answer',
                    answer.isSelected && answer.isCorrect ? 'correct-answer' : answer.isSelected ? 'wrong-answer' : 'standard-answer'
                ]" >
                {{ answer.content }}
                </label>
            </div>
        </div>
    </div>
    <ng-container></ng-container>
</ng-template>