@import '/src/styles.scss';

.card {
    border: 2px double $primary-color;
}

.standard-answer {
    color: $font-color;
}

.correct-answer {
    color: #77dd77;
}

.wrong-answer {
    color: #ff6666;
}

textarea {
    background-color: transparent;
    color: $font-color;
}

textarea:disabled {
    
    color: $font-color;
}