<div class="flex flex-column justify-content-center gap-3">
  <div class="topbar flex justify-content-center">
    <app-top-bar></app-top-bar>
  </div>
  <!-- probably to fix displaying  -->
    <div class="grid">
      <div class="col-12 sm:col-2 xl:col-4 md:col-2 lg:col-3">
        <div></div>
      </div>
      <div class="col-12 sm:col-8 p-2 xl:col-4 md:col-8 lg:col-6">
        <div class="flex justify-content-center">
          <router-outlet></router-outlet>
        </div>
      </div>
      <div class="col-12 sm:col-2 xl:col-4 md:col-2 lg:col-3">
        <div></div>
      </div>
    </div>
</div>